
.main {
    background-color: #F2E9D8;
    margin: 1em auto;
    width: 90%;
    border: 2px solid #7f8fad;
    border-radius: 4px;
}

.header-bar {
    width: 100%;
    background-color: var(--bg-secondary-clr);
    height: .25em;

}