.main {
  background-color: #f8f9fa;
  margin: 1em auto;
  width: 90vw;
  height: 80vh;
  border: 2px solid #7f8fad;
  border-radius: 4px;
  box-shadow: 0 0 18px rgb(67, 69, 71, 0.25);
  /* overflow: auto; */
}

.header-bar {
  width: 100%;
  background-color: var(--bg-secondary-clr);
  height: 0.25em;
}
