.main-header {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--bg-primary-clr);
  color: var(--header-text-clr);
  padding: 0.5em 0;
}

.header-text {
  font-size: 1.5rem;
}

.hamburguer-menu {
  font-size: 1rem;
  padding: 0 1em 0 1em;
}

.servidor {
  text-align: right;
}
.username {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.6rem;
  font-weight: 700;
}

.logolabin{
  height: 5em;
}
