.sidebar {
    width: 30%;
}

.dividerText {
    font-size: 0.8rem;
}

.sidebarItem {
    color: var(--main-text-color);
    font-size: 0.725rem;
    font-weight: 500;
    cursor: pointer;
}

.logo {
    max-height: 1.5em;
    height: auto;
    float: right;
    border: 0;
    vertical-align: middle;
}