:root {

    box-sizing: border-box;

    /** VARIÁVEIS */

    --main-font: Helvetica, Arial, sans-serif;
    --main-text-color: #314254;
    --secondary-text-color: #e6e6e6;
}

*,
::before,
::after {
    box-sizing: inherit;
}

html, body {
    font-size: calc(.5em + 1vw);
}
